:root {
  /* --text-link: #F3A6C4; */
  --text-link: #2FA5E1;
  --background-color: #282C35;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--background-color);
  }
}
/* Common */
header {
  margin-bottom: 2.5rem;
}

footer {
  margin-top: 5rem;
}

a, .link:hover {
  cursor: pointer;
}

.text-color {
  color: var(--text-link);
}

.uderline {
  box-shadow: 0 1px 0 0 currentColor;
}

.intro-self {
  display: flex;
}

.intro-self-text {
  margin-left: 0.875rem;
}

/* Home */
.container {
  max-width: 42rem;
  padding: 2.5rem 1rem;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
.blog-title {
  margin-top: 0;
  margin-bottom: 0;
}

/* Post */
.article-title {
  font-size: 1.75rem;
  margin-top: 3.5rem;
  color: var(--text-link);
}